<h2> <%= @recipe[0]["name"]%> </h2>

<table>
  <tr>
    <td> Description: <%= @recipe[0]["description"] %> <br><br> Instructions: <%= @recipe[0]["instructions"] %> </td>
  </tr>
</table>

<h4> Ingredients: </h4>

<table>
  <% @recipe.each do |row| %>
    <tr>
      <td><%= row["ingredients"] %></td>
    </tr>
  <% end %>
</table>
